html{
    height: 100%;
}

body{
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo{
    display: flex;
    flex-direction: column ;
    align-items: center;
    min-height:100% ;
}

.exercicio div{
    font-size: 3em;
    border: solid 5px #fff;
    padding: 20px 40px;
    margin: 10px;
}

.exercicio .destaque {
    border: solid 10px greenyellow;
    color: greenyellow;
    font-weight: bold;
}